.nav{
  
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}
.nav a{
  text-decoration: none;
  
}
.nav p:hover{
  transform: scale(1.1);
  color: aqua;
}
.nav p{
  
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
}